doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Tournament
    meta(name="viewport" content="width=device-width", inicial-scale="1")
    link(rel="stylesheet" href="./css/main.css")
  body
    #header.header
      h1.title Winning Eleven TSUMIKI Tournament!

    #userLists
  
    #footer.footer
      .footer-title Winning Eleven TSUMIKI Tournament!
    script(src="./js/main.js")
    
    
  
