@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

.header {
  border-bottom: 1px solid #03ACC1;
  background-color: #00bcd4;
  padding: 20px 0 20px 20px; }
  .header .title {
    color: #ffffff;
    margin: 0;
    padding: 10px;
    font-size: 1.8em; }

.level-list {
  display: -webkit-flexbox;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0; }
  .level-list li.l-1::before {
    content: '●';
    padding-right: 6px;
    color: #1e88e5; }
  .level-list li.l-2::before {
    content: '●';
    padding-right: 6px;
    color: #43a047; }
  .level-list li.l-3::before {
    content: '●';
    padding-right: 6px;
    color: #c0ca33; }
  .level-list li.l-4::before {
    content: '●';
    padding-right: 6px;
    color: #ffb300; }
  .level-list li.l-5::before {
    content: '●';
    padding-right: 6px;
    color: #f4511e; }

.sub-title {
  margin-bottom: 10px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic; }

.user-name {
  font-size: 1.2em !important; }

.shuffle-button-wrapper {
  margin-top: 80px;
  text-align: center; }
  .shuffle-button-wrapper > * {
    width: 60%; }

.match {
  margin-top: 80px;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.7, 0.13, 0.33, 1.29); }
  .match.show {
    opacity: 1; }
  .match .match-number {
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 20px; }
  .match .tournament-list {
    margin-bottom: 20px;
    overflow: hidden; }
    .match .tournament-list .tournament-list-item {
      width: 50%;
      float: left; }

.match-list-wrap {
  position: relative; }
  .match-list-wrap .header-scores {
    position: absolute;
    top: -3px;
    left: 140px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 26px;
    border-bottom: 3px double #000; }
    .match-list-wrap .header-scores .header-score:first-child:after {
      content: '-';
      display: inline-block;
      font-size: 1.2em;
      margin: auto 10px; }

.match-result {
  margin-bottom: 20px;
  overflow: hidden; }
  .match-result .match-number {
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 20px; }
  .match-result .match-result-list {
    margin-left: 20px;
    overflow: hidden; }
    .match-result .match-result-list .match-result-list-item {
      width: 50%;
      float: left; }
  .match-result .score {
    position: relative; }
    .match-result .score .score-input {
      position: absolute !important;
      top: -77px;
      font-weight: bold; }
      .match-result .score .score-input:first-child {
        left: 38%; }
      .match-result .score .score-input:last-child {
        left: 88%; }

.mui-table-header-row {
  border-left: 40px solid #ddd; }

.mui-body-table {
  font-weight: bold; }

.country-table-row-1 {
  border-left: 20px solid #1e88e5; }

.country-table-row-2 {
  border-left: 20px solid #43a047; }

.country-table-row-3 {
  border-left: 20px solid #c0ca33; }

.country-table-row-4 {
  border-left: 20px solid #ffb300; }

.country-table-row-5 {
  border-left: 20px solid #f4511e; }

.mui-table-footer-row .mui-table-row-column {
  line-height: 48px; }

.footer {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  background-color: #00bcd4;
  text-align: center; }
  .footer .footer-title {
    color: #ffffff;
    font-size: 0.8em;
    line-height: 40px; }
