@import "color";

@mixin roundMark($color: #dddddd) {
  &::before {
    content: 'â—';
    padding-right: 6px;
    color: $color;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  border-bottom: 1px solid #03ACC1;
  background-color: #00bcd4;
  padding: 20px 0 20px 20px;
  .title {
    color: #ffffff;
    margin: 0;
    padding: 10px;
    font-size: 1.8em;
  }
}

.level-list {
  display: -webkit-flexbox;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  li {
    &.l-1 {
      @include roundMark($l-1);
    }
    &.l-2 {
      @include roundMark($l-2);
    }
    &.l-3 {
      @include roundMark($l-3);
    }
    &.l-4 {
      @include roundMark($l-4);
    }
    &.l-5 {
      @include roundMark($l-5);
    }
  }

}

.sub-title {
  margin-bottom: 10px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}

.user-name {
  font-size: 1.2em !important;
}

.shuffle-button-wrapper {
  margin-top: 80px;
  text-align: center;

  & > * {
    width: 60%;
  }
}

.match {
  margin-top: 80px;
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.7, 0.13, 0.33, 1.29);

  &.show {
    opacity: 1;
  }

  .match-number {
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .tournament-list {
    margin-bottom: 20px;
    overflow: hidden;
    .tournament-list-item {
      width: 50%;
      float: left;
    }
  }
}

.match-list-wrap {
  position: relative;

  .header-scores {
    position: absolute;
    top: -3px;
    left: 140px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 26px;
    border-bottom: 3px double #000;

    .header-score {
      &:first-child {
        &:after {
          content: '-';
          display: inline-block;
          font-size: 1.2em;
          margin: auto 10px;
        }
      }
    }
  }
}

.match-result, .match-history {
  margin-bottom: 20px;
  overflow: hidden;

  .match-number {
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .match-result-list, .match-history-list {
    margin-left: 20px;
    overflow: hidden;

    .match-result-list-item, .match-history-list-item  {
      width: 50%;
      float: left;
    }
  }

  .score {
    position: relative;

    .score-input {
      position: absolute !important;
      top: -77px;
      font-weight: bold;

      &:first-child {
        left: 38%;
      }
      &:last-child {
        left: 88%;
      }
    }

  }
}

.json-download {
  text-align: center;
}

.match-history {
  min-height: 600px;

  .match-history-select-box {
    text-align: center;

    .select-match-history-label {
      display: inline-block;
      margin-right: 14px;
      font-weight: bold;
      vertical-align: text-bottom;
      line-height: 48px;
    }
  }
}


.mui-table-header-row {
  border-left: 40px solid #ddd;
}

.mui-body-table {
  font-weight: bold;
}

.country-table-row {
  &-1 {
    border-left: 20px solid $l-1;
  }
  &-2 {
    border-left: 20px solid $l-2;
  }
  &-3 {
    border-left: 20px solid $l-3;
  }
  &-4 {
    border-left: 20px solid $l-4;
  }
  &-5 {
    border-left: 20px solid $l-5;
  }
}

.mui-table-footer-row {
  .mui-table-row-column {
    line-height: 48px;
  }
}

.footer {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  background-color: #00bcd4;
  text-align: center;

  .footer-title {
    color: #ffffff;
    font-size: 0.8em;
    line-height: 40px;
  }
}
